.movieContainer-style{
    border-radius: 100px;
    box-shadow: 10px;
    display: relative;
    float:left;
    padding: 50px;
    width: 20vw;
    height: 600px;
    overflow : hidden;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
  }

  .moviebackground{
    background-color: lightslategray;
  }

  .overview-style {
    font-size: 15px;
  }

  .img-style {
    width: 150px;
  }

  .search-container {
    text-align: center; 
    justify-content: center;
    padding: 50px;
    font-size: 30px;
    
    display: flex;
    align-items: center;
  }
  .bottom-line1 {
    border-bottom: 1px solid black;
  }
  .bottom-line2 {
    border-bottom: 1px solid white;
  }

  
  .badge {
    margin-right: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
  }

  .b-w{
    border: 1px solid white;
  }

  .dark{
  background-color: black;
  color:white;
}
  .normal{
    background-color: lightgrey;
    color: black;
  }

.front-img{
    width: 25%; 
    height: 200px; 
    float: left;
}